@import "../valiables";
@import "../button";
@import "../mixin";

.mini_btn_01 {
  & > button {
    @include mini-bt-style($b200, $font-bc-2, $font-bc-2);
    @include bt-animation-01;

    font-size: 14px;
    min-width: 40px;
    padding: 0px 10px;
    width: fit-content;
    text-wrap: nowrap;
    height: 25px;

    &:active {
      box-shadow:
        0 1px 0 rgba(0, 0, 0, 0.05),
        0 1px rgba(0, 0, 0, 0.05) inset;
    }
  }
}
