.teacher-edit-wrap {
  background-color: #f3f9fa;

  .re-pw-btn {
    position: relative !important;
    margin-left: 10px !important;
    min-width: 110px !important;
    top: 7px !important;

    & button {
      position: absolute !important;
    }
  }
}
