@import "../valiables";

.class-schedule-inner {
  h1 {
    padding-bottom: 40px;
    font-weight: bold;
    font-size: 36px;
    color: $b400;
  }
  .grid-frame {
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    & .item {
      max-height: 45px;
      height: 45px;
    }

    & .item:nth-child(1) {
      background-color: $grid-color-w;
    }

    & .item:nth-child(2) {
      .grid-inner-item:nth-child(1) {
        background-color: $period-1;
      }
    }

    & .item:nth-child(3) {
      .grid-inner-item:nth-child(1) {
        background-color: $period-2;
      }
    }

    & .item:nth-child(4) {
      .grid-inner-item:nth-child(1) {
        background-color: $period-3;
      }
    }

    & .item:nth-child(5) {
      .grid-inner-item:nth-child(1) {
        background-color: $period-4;
      }
    }

    & .item:nth-child(6) {
      .grid-inner-item:nth-child(1) {
        background-color: $period-5;
      }
    }

    & .item:nth-child(7) {
      .grid-inner-item:nth-child(1) {
        background-color: $period-6;
      }
    }

    & .item:nth-child(8) {
      .grid-inner-item:nth-child(1) {
        background-color: $period-7;
      }
    }

    .grid-inner {
      grid-template-columns: 55px 1fr 1fr 1fr 1fr 1fr;

      .grid-inner-item {
        padding: 2px;
        background-clip: content-box;

        .grid-inner-item-text {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          border: 1px solid $pc-line-p;
        }
      }
    }

    .class-schedule-week {
      .grid-inner-item:nth-child(2) {
        background-color: $monday-c;
      }
      .grid-inner-item:nth-child(3) {
        background-color: $tuesday-c;
      }
      .grid-inner-item:nth-child(4) {
        background-color: $wednesday-c;
      }
      .grid-inner-item:nth-child(5) {
        background-color: $thursday-c;
      }
      .grid-inner-item:nth-child(6) {
        background-color: $friday-c;
      }
    }
  }
}
