.main h1 {
  padding-bottom: 40px;
  font-weight: bold;
  font-size: 36px;
  color: #1b4957;
}
.main .main-inner-info .login-user-info {
  font-size: 13px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #dee8e9;
  position: relative;
}
.main .main-inner-info .login-user-info .login-user-pic {
  width: 90px;
  height: 90px;
  border-radius: 50px;
  background-color: #dee8e9;
}
.main .main-inner-info .login-user-info .login-user-info-div {
  width: 48%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main .main-inner-info .login-user-info .login-user-info-div .login-user-info-label-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.main .main-inner-info .login-user-info .login-user-info-div .login-user-info-label-box:first-child {
  text-align: center;
}
.main .main-inner-info .login-user-info .logout-icon {
  background-color: black;
  width: 18px;
  height: 18px;
}
.main .main-inner-info .login-user-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 13px;
  height: 150px;
}
.main .main-inner-info .login-user-btn > button {
  width: 190px;
  height: 40px;
  border-radius: 5px;
  font-size: 20px;
}
.main .main-inner-info .login-user-btn > button:first-child {
  background-color: #ffdfe4;
}
.main .main-inner-info .login-user-btn > button:last-child {
  background-color: #dee8e9;
}

.class-schedule-inner .grid-frame {
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.class-schedule-inner .grid-frame .item {
  max-height: 45px;
  height: 45px;
}
.class-schedule-inner .grid-frame .item:nth-child(1) {
  background-color: #fbfaf9;
}
.class-schedule-inner .grid-frame .item:nth-child(2) .grid-inner-item:nth-child(1) {
  background-color: #f9957f;
}
.class-schedule-inner .grid-frame .item:nth-child(3) .grid-inner-item:nth-child(1) {
  background-color: #abcfd1;
}
.class-schedule-inner .grid-frame .item:nth-child(4) .grid-inner-item:nth-child(1) {
  background-color: #d4e6c4;
}
.class-schedule-inner .grid-frame .item:nth-child(5) .grid-inner-item:nth-child(1) {
  background-color: #ffcfcb;
}
.class-schedule-inner .grid-frame .item:nth-child(6) .grid-inner-item:nth-child(1) {
  background-color: #f4c464;
}
.class-schedule-inner .grid-frame .item:nth-child(7) .grid-inner-item:nth-child(1) {
  background-color: #abbeec;
}
.class-schedule-inner .grid-frame .item:nth-child(8) .grid-inner-item:nth-child(1) {
  background-color: #8cc1d3;
}
.class-schedule-inner .grid-frame .grid-inner {
  grid-template-columns: 55px 1fr 1fr 1fr 1fr 1fr;
}
.class-schedule-inner .grid-frame .grid-inner .grid-inner-item {
  padding: 2px;
  background-clip: content-box;
}
.class-schedule-inner .grid-frame .grid-inner .grid-inner-item .grid-inner-item-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #886348;
}
.class-schedule-inner .grid-frame .class-schedule-week .grid-inner-item:nth-child(2) {
  background-color: #c6dbda;
}
.class-schedule-inner .grid-frame .class-schedule-week .grid-inner-item:nth-child(3) {
  background-color: #ffc5bf;
}
.class-schedule-inner .grid-frame .class-schedule-week .grid-inner-item:nth-child(4) {
  background-color: #ecd5e3;
}
.class-schedule-inner .grid-frame .class-schedule-week .grid-inner-item:nth-child(5) {
  background-color: #fae39d;
}
.class-schedule-inner .grid-frame .class-schedule-week .grid-inner-item:nth-child(6) {
  background-color: #99aa8c;
}/*# sourceMappingURL=mainlogin.css.map */