@charset "UTF-8";
.react-calendar {
  text-shadow: 0 1.5px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.34) inset, 0 2px 0 -1px rgba(0, 0, 0, 0.13), 0 3px 0 -1px rgba(0, 0, 0, 0.08), 0 3px 13px -1px rgba(0, 0, 0, 0.21);
  width: 100%;
  height: 100%;
  border: 3px solid #625151;
  border-radius: 19px;
  overflow: hidden;
  background-color: #fbfaf9;
}
.react-calendar button {
  margin-bottom: 10px;
}

.react-calendar__navigation {
  background: #ffc5bf;
  border-bottom: 3px solid #625151;
  height: 90px;
}
.react-calendar__navigation span {
  font-size: 24px;
  font-weight: 600;
  color: #886348;
}

.react-calendar__navigation button {
  font-size: 30px;
  min-width: 90px;
  color: #886348;
}

.react-calendar__navigation button:disabled {
  background-color: #ffdfe4;
  border-radius: 20px 20px 0 0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: inherit;
}

.react-calendar__month-view {
  padding: 12px 32px;
}
.react-calendar__month-view abbr {
  color: #886348;
  font-size: 16px;
  font-weight: 500;
}

.react-calendar__month-view__weekdays {
  margin-bottom: 20px;
  margin-top: 5px;
}
.react-calendar__month-view__weekdays abbr {
  font-size: 18px;
  font-weight: 900;
  text-decoration-line: none;
}

.react-calendar__tile {
  text-align: center;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/*hover, focus, 선택됐을 시 */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus,
.react-calendar__tile--active {
  background: #dee8e9;
  border-radius: 14px;
}

.react-calendar__tile--now {
  background: #deec85;
  border-radius: 14px;
}

/*hover, focus 시 */
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #dee8e9;
  border-radius: 14px;
}

.calendar-now-month-list-wrap {
  width: 100%;
  position: relative;
  top: -40px;
  min-height: 300px;
}
.calendar-now-month-list-wrap input[id*=calendar-day-text-list-check] {
  display: none;
}
.calendar-now-month-list-wrap input[id*=calendar-day-text-list-check] + label {
  display: block;
  padding: 20px;
  border-bottom: 0;
  color: #fff;
  font-weight: 900;
  background-color: #ffeae8;
  cursor: pointer;
}
.calendar-now-month-list-wrap input[id*=calendar-day-text-list-check] + label + em {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  display: inline-block;
}
.calendar-now-month-list-wrap input[id*=calendar-day-text-list-check] + label + div {
  max-height: 0;
  transition: all 0.35s;
  position: absolute;
  overflow: hidden;
  font-size: 11px;
  background-color: #fbfaf9;
  border: 3px solid #625151;
  border-radius: 0px 0px 19px 19px;
}
.calendar-now-month-list-wrap input[id*=calendar-day-text-list-check]:checked + label + div {
  max-height: 300px;
  height: 100%;
}
.calendar-now-month-list-wrap input[id*=calendar-day-text-list-check]:checked + label em {
  background-position: -30px;
}
.calendar-now-month-list-wrap .now-schedule-day {
  width: 100%;
  height: 40px;
}

.absoluteDiv {
  display: flex;
  flex-direction: row;
  gap: 3px;
}

/* 마커 */
.dot {
  margin-top: 7px;
}

.closed-day-mark {
  height: 8px;
  width: 8px;
  background-color: #f87171;
  border-radius: 50%;
  display: flex;
}

.test-day-mark {
  border-bottom: 8.66px solid #99aa8c;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.no-leftovers-day-mark {
  width: 11px;
  height: 11px;
  margin-top: 4px;
  top: 1px;
  position: relative;
  display: flex;
}
.no-leftovers-day-mark > svg {
  width: 100%;
  height: 100%;
}
.no-leftovers-day-mark > svg > path {
  color: #5f909f;
}

.now-month-event-text-wrap {
  display: flex;
  width: 100%;
  height: 275px;
  overflow: auto;
  padding: 30px 40px 30px 60px;
  gap: 10px;
  /* 스크롤바 막대 설정*/
  /* 스크롤바 뒷 배경 설정*/
}
.now-month-event-text-wrap::-webkit-scrollbar {
  background-color: #ffeae8;
  overflow: hidden;
  width: 15px;
  border-radius: 0px 0px 19px 0px;
}
.now-month-event-text-wrap::-webkit-scrollbar-thumb {
  background-color: #dd838f;
  /* 스크롤바 둥글게 설정    */
  border-radius: 10px;
  border: 1px solid #dee8e9;
}
.now-month-event-text-wrap::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
.now-month-event-text-wrap .now-month-event-text {
  font-size: 16px;
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.now-month-event-text-wrap .now-month-event-text .event-day {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.now-month-event-text-wrap .now-month-event-text .event-day .event-day-style {
  background-color: #feccd5;
  font-weight: bold;
  color: #dd838f;
  width: 110px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.now-month-event-text-wrap .now-month-event-text .event-day .event-day-text-style {
  width: 110px;
  height: 50px;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=mainschedule.css.map */