.child-edit-wrap {
  .re-pw-btn {
    // position: relative !important;
    margin-left: 7px !important;
    min-width: 110px !important;
    top: 7px !important;

    & button {
      position: absolute !important;
    }
  }
}
