@mixin flex-center() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin text-n-box-shadow {
  text-shadow: 0 1.5px 0 rgba(0, 0, 0, 0.15);
  box-shadow:
    0 1px 0 rgba(255, 255, 255, 0.34) inset,
    0 2px 0 -1px rgba(0, 0, 0, 0.13),
    0 3px 0 -1px rgba(0, 0, 0, 0.08),
    0 3px 13px -1px rgba(0, 0, 0, 0.21);
}

@mixin text-shadow {
  text-shadow: 0 1.5px 0 rgba(0, 0, 0, 0.15);
}

@mixin br-5-h {
  border-radius: 5px;
  overflow: hidden;
}

@mixin br-10-h {
  border-radius: 10px;
  overflow: hidden;
}
